@charset "UTF-8";

body{
  color: black;/*文字色指定*/
  font-size: 18px;/*文字の大きさ指定*/
  font-family: serif;/*自体の設定*/
  text-align: center;
  margin: 0px;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  width: auto;
  min-width: 50px;
  position: relative;
}
nav ul li:not(:last-child):after{
  position: absolute;
  content: "/";
  top: 20%;
  right: 0;
}

nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
}
nav ul li a:hover{

  opacity: 0.3;
  color: blue;

}

.mission{
  background-image: url("image/boat.jpg");
  border: 1px solid black;
  background-size: cover;

}
.mission2{
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.mission2 p {
  font-size: 20px;
}
.mission h1 {

    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;

}
.vision{
  border: 2px solid black;
  margin-top: 15px;
  margin-bottom:  0;
  border-left: none;
  border-right: none;
  padding-bottom: 50px;
}
.vision h1 {

    font-size: 50px;
}
footer{
  background-color: #880000;
  margin-top: auto;
  margin-bottom: 10%;
}
