@charset "UTF-8";

body{
 color: black;/*文字色指定*/
 font-size: 18px;/*文字の大きさ指定*/
 font-family: serif;/*自体の設定*/
 text-align: center;
}
nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  width: auto;
  min-width: 50px;
  position: relative;
}
nav ul li:not(:last-child):after{
  position: absolute;
  content: "/";
  top: 20%;
  right: 0;
}

nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.1em;
}
nav ul li a:hover{

  opacity: 0.3;
  color: blue;

}

header{
  background-color: #880000;
}
h1{
  margin-bottom: 10%;
}
table{
  margin-left: auto;
  margin-right: auto;
}
table tr td{
    font-size: 22px;
    line-height: 2.2;
}
footer{
  background-color: #880000;
  margin-top: 10%;
}
